@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Serif KR', serif;
    font-family: 'Roboto', sans-serif;

}

a:link,
a:visited {
    text-decoration: none;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 6em;
    font-weight: 300;
}

h3{
    font-family: 'Noto Serif KR';
    /* font-size: 1.5em; */
    font-weight: 400;
}

h4{
    font-size:20px ;
}

h5{
    font-size: 3em;
}

.inner{
    font-family: 'Noto Serif KR';
    width: 100%;
    height: 100vh;
}

.nav {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
    z-index: 999;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000;
    padding: 0 1em;
    font-family: 'Noto Serif KR';
    font-weight: 300;
}

/* a>img {
    width: 150px;
} */

a:hover {
    color: #0B614B;
    transition: .4s;
}

.content{
    position: relative;
    top: 10em;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.sec01{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: 100%;
    position: relative;
}

.slogan{
    font-family: 'Noto Serif KR';
    font-weight: 200;
}

.dps > img{
    width: 300px;
}

.text01{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-weight: 200;
}

.inner02{
    width: 1400px;
    height: 100%;
    text-align: center;
}

.inner02 > h3 > span{
    color: #0B614B;
}

.inner02 > img{
    width: 25%;
}

.sec02{
    position: relative;
    width: 1400px;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.happy, .shadow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.sec02 > div > img{
    width: 50%;
}

.booking{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0B614B;
}

.booking:hover{
    background-color: #0B614B;
    color: #fff;
}

.sec03{
    padding-top: 5em;
    width: 1400px;
    height: 120vh;
    background-image: url(/dps/img/background.jpeg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.the{
    width: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.people{
    padding: 0 2%;
    justify-content: space-between;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 1400px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.p1{
    display: flex;
    flex-direction: column;
}

.kewword{
    margin-top: 5em;
    width: 1000px;
}

.map-area{
    width: 1400px;
    margin-top: 20vh;
    padding: 8em 0 0 0;
    text-align: center;
    justify-content: center;
    position: relative;
}

.map-area > p{
    font-weight: 300;
}

.map-area > p > span{
    font-weight: 700;
}

#daumRoughmapContainer1687080036830{
    width: 1400px;
    margin: 0 auto;
    /* position: absolute; */
    margin-top: 5em;
}

fotter{
    text-align: center;
    font-size: 12px;
    font-family: 'Noto Serif KR';
    margin-bottom: 5em;
}



